/*主颜色值*/

$header-bgColor:#fff;
$aside-bgColor:#1E2E4C;
$container-bgColor:#F1F1F1; //大背景色
$content-bgColor:#FFFFFF; //小背景色
$font-color:#ADADAD;
$crb-fontColor:#0FADFF;
$td-border:1px solid #DADADA;
$y-color:#AF7C58;
$new-font-color: #323232; //新版字体颜色
$new-table-back:#EBF4FC;

/* dialog form style */
.el-message-box__message p{
    text-align: center !important;
}
.el-dialog {
    // padding: auto 20px;
    .el-dialog__title {
        font-weight: bold;
    }
    box-sizing: border-box;
    .el-dialog_body {
        padding: 10px 30px !important;
    }
    .el-form {
        .el-form-item {
            margin-bottom: 10px;
        }
        .el-form-item__label,
        .el-input__inner,
        .el-checkbox .el-checkbox__label {
            font-size: 12px;
            color: #323232
        }
        .el-form-item__label {
            text-align: left
        }
        .el-select,
        .el-input {
            .el-input__inner {
                border-radius: 2px;
            }
        }
        .el-input--small .el-input__icon {
        }
        .el-form-item__error {
            padding: 0;
        }
    }
    
    .el-dialog__footer {
        text-align: center;
        .el-button {
            padding: 0;
            width: 88px;
            height: 28px;
            text-align: center;
            font-size: 12px;
            border: 1px solid #AF7C58;
        }
        .el-button:first-child {
            margin-right: 50px;
        }
    }
}

.el-radio__input.is-checked+.el-radio__label {
    color: #323232!important;
}

#tmpNameNo {
    .el-input__inner {
        width: 243px!important;
    }
    .el-form-item__error {
        width: 243px!important;
    }
}

.collectRateSelect {
    .el-input {
        .el-input__inner {
            color: #ffffff;
        }
    }
}